* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: none; outline: none;
    background: transparent;
    user-select: none;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.open {
    position: absolute;
    cursor: pointer;
    letter-spacing: .5px;
    padding: 15px 25px;
    border: 1px solid #159c27;
    color: #159c27;
    border-radius: 5px;
    transition: .4s;
    z-index: 1;
}

.open:hover {
    background: #159c27;
    color: #f2f2f2;
}

input { display: none; }

.modal {
    overflow: hidden;
    width: 450px;
    height: 460px;
    border: 2px solid rgb(54, 168, 25);
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-style: preserve-3d;
    opacity: 0;
    pointer-events: hidden;
    transform: translateY(-550px);
    transition: 1s;
    box-shadow: inset 5px 20px 20px #cfffd1;
}

#open-modal:checked ~ .modal {
    opacity: 1;
    pointer-events: visible;
    transform: translateY(0);
}

#open-modal:checked ~ .open { display: none; }

#close-modal:checked ~ .modal {
    opacity: 0;
    pointer-events: hidden;
    transform: translateY(-550px);
}

.modal-header {
    display: flex;
    padding: 10px 20px;
    letter-spacing: .5px;
    background: rgb(54, 168, 25);
    color: #f2f2f2;
    border: 2px solid rgb(54, 168, 25);
    line-height: 40px;
    font-size: 12px;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 50px;
}

.modal-body i {
    padding: 40px;
    color: rgb(54, 168, 25);
    border: 3px solid rgb(54, 168, 25);
    border-radius: 50%;
    font-size: 80px;
}

.modal-body p {
    position: absolute;
    top: 230px;
    font-size: 22px;
    color: rgb(0, 71, 0);
}

.modal-footer {
    position: absolute;
}

hr {
    margin-top: 40px;
    width: 100%;
    height: 1.5px;
    background: rgba(54, 168, 25, 0.425);
}

.modal-footer .close-modal {
    cursor: pointer;
    letter-spacing: .5px;
    border: 1px solid #22ca1d;
    color: #22ca1d;
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 5px;
    transition: .4s;
    position: absolute;
    left: 340px;
    top: 18px;
}

.modal-footer .close-modal:hover {
    background: #22ca1d;
    color: #f2f2f2;
}

.modal-footer .close-modal:hover { background: #1fb81a;}


